
<div class="container" >
    <div class="center">
        <div>
            <div  id="thesisLogo">
                <img src="assets\images\Asset 5.png" alt="Thesis Logo">
            </div>

            <div>
                <h2 class= "title">DEBATABLE KNOWLEDGE</h2>
                <h3 class= "title">A Journey Through The Discussion Behind Wikipedia’s Article On Toiletpaper Orientation</h3>
                <div class="btn-text-center">
                    <button  class="introButton" (click)="onClickGoToIntro()"><p>Start</p></button>
                </div>
            </div>
        </div>
    </div>
</div>


