
<div class="container" >
    <div class="center">
        <div>
            <div  id="thesisLogo">
                <img src="assets\images\Asset 6.png" alt="Thesis Logo">
            </div>

            <div>
                <p>Wikipedia is one of the most used sources for information online, but where is all this knowledge coming from? What many people don’t know is that every article contains a discussion page where the community reaches consensus on the article’s content.<br><br>
                    Through the heated discussion behind the article on toilet paper orientation, this project the social mechanisms behind Wikipedia’s information.  <br><br>
                    The arrows on the bottom of the screen allow you to navigate through the story but feel free to get off track and dive deeper into the discussion page.<br>
                    </p>
                <div class="btn-text-center">
                    <button  class="introButton" (click)="onClickGoToMap()"><p>Continue</p></button>
                </div>
            </div>
        </div>
    </div>
</div>
