<div class="container">
  {{ data.iFrame }}


  <div class="row">
    <div class="col-12 flex-container" id="container-1">
      <div class="flexRow flexFit">
        <div class="box" id="box-1">
          <div class="content">
            <iframe
              id="iframe"
              src="https://en.wikipedia.org/w/index.php?title=Toilet_paper_orientation&oldid=371683795"
            >
            </iframe>
          </div>
        </div>
      </div>

      <div class="flexRow">
        <div class="box" id="box-3">
          <div class="content">
            <p>
              {{ data.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
