<div class="container">

  <div class="row">
>

     <div class="col-12 flex-container" id="container-1" >
         <div class="flexRow flexFit">
             <div class="box" id="box-1">
                 <div class="content">
                     <iframe id="iframe" src="https://en.wikipedia.org/w/index.php?title=Toilet_paper_orientation&oldid=371683795">
                     </iframe>
                 </div>
             </div>
         </div>
 
         <div class="flexRow">
             <div class="box" id="box-3">
                 <div class="content">
                     <p>
                         On July 4th, 2010, editor name Melchior copied his original version of the page from the Wikipedia trial editor and created the page: Toilet paper orientation. Back then, Melchior was already an established Wikipedia with quite a list of edits under his name. As you can see in the window where the original page is displayed, the article was already quite substantial and well sourced.
                     </p>
                 </div>
             </div>
         </div>
     </div>
    
 </div>

</div>