<div class="map-container">
  <button class="buttonPlus" (click)="onClickZoomIn()">
    <i class="material-icons">add</i>
  </button>
  <button class="buttonPlus buttonMin" (click)="onClickZoomOut()">
    <i class="material-icons">remove</i>
  </button>
  <button (click)="onClickOpenDialog()">Open dialog</button>

  <button (click)="onClickPreviousPosition()">Previous Position</button>
  <button (click)="onClickCenterView()">Center</button>
  <button (click)="onClickNextPosition()">Next Position</button>
  
  

  <svg
    version="1.1"
    id="smylos-map"
    x="0px"
    y="0px"
    viewBox="0 0 1338.073 1041.33"
    enable-background="new 0 0 1338.073 1041.33"
    xml:space="preserve"
  >
    <g id="Layer_2">
      <image
        overflow="visible"
        width="13004"
        height="9185"
        xlink:href="assets/images/A1_map.jpg"
        transform="matrix(0.1006 0 0 0.1006 4 39.9619)"
      ></image>
    </g>
    <g id="smylos-map">
      <g id="Layer_2_1_">
        <g #bigSmileOfficeContainer class="svg-group" (click)="onClickGroup()">
          <image
            overflow="visible"
            opacity="0"
            enable-background="new   "
            width="106"
            height="115"
            xlink:href="assets/images/dot2.png"
            transform="matrix(0.24 0 0 0.24 731.876 148.5126)"
          ></image>
          <image
            overflow="visible"
            opacity="0"
            enable-background="new   "
            width="106"
            height="115"
            id="bigSmileDot"
            class="dot"
            xlink:href="assets/images/dot.png"
            transform="matrix(0.24 0 0 0.24 731.876 148.5126)"
          ></image>

          <rect
            id="bigSmileOffice"
            x="689.508"
            y="128.61"
            opacity="0"
            fill="#3ACEB8"
            enable-background="new    "
            width="96.451"
            height="65.12"
          />
        </g>

        <g #executiveOfficeContainer class="svg-group">
          <image
            overflow="visible"
            opacity="0"
            enable-background="new    "
            width="106"
            height="115"
            xlink:href="assets/images/dot2.png"
            transform="matrix(0.24 0 0 0.24 741.8243 233.6676)"
          ></image>
          <image
            overflow="visible"
            opacity="0"
            enable-background="new    "
            width="106"
            height="115"
            id="executiveOfficeDot"
            xlink:href="assets/images/dot.png"
            transform="matrix(0.24 0 0 0.24 741.8243 233.6676)"
          ></image>

          <rect
            id="executiveOffice"
            x="689.508"
            y="207.476"
            opacity="0"
            fill="#3ACEB8"
            enable-background="new    "
            width="96.451"
            height="65.12"
          />
        </g>
      </g>
    </g>
  </svg>
</div>
