/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}

p {
  font-size: 16px;
  color: white;
  margin: 0px 100px 0px 40px;
  font-family: "Lora", serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  background: transparent !important;
  padding: 0 !important;
  border-radius: 8px !important;
}

.button {
  position: fixed;
  background-color: #09121e;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: white;
  border: 2px solid;
  border-color: #09121e;
  cursor: pointer;

  &:hover {
    border: 2px solid;
    background-color: #36404f;
    border-color: #36404f;
  }

  > i {
    vertical-align: middle;
    text-align: center;
  }

  &:disabled {
    cursor: default;
    background-color: #09121e;
  }
}
